@import './variables/main';

@include resetStyles;

body{
    background-image: url(../logos/fondobody.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    justify-content: center;

    .principalWrapper{
        @include orderFlex(row, space-between, center);
    }
    div{
        width: 70%;
    }
    .tipografia{
        @include imageSize(18rem,auto)
    }

    nav{
        width: 60%;
        ul{
            @include orderFlex(row, space-between, center)
        }

        li{
            text-transform: uppercase;

            a{
                color: whitesmoke;
                font-weight: 500;
                font-size: 1rem;

                &:hover{
                    color: gray;
                    font-weight: bolder;
                    text-decoration: underline;
                    text-underline-position: below;
                }
            }
        }
    }
}

.nosotros{
    display: flex;
    justify-content: center;

    .principalWrapper{
        width: 75%;
    }
    div{
       img{
           @include imageSize(100%,auto);
           border-radius: 5%;
       }
    }

    p{
        text-transform: uppercase;
        color: whitesmoke;
        text-align:justify;
        font-weight: 900;
        letter-spacing: 3px;
        line-height: 2rem;
    }

}

.merch{
    display: flex;
    justify-content: center;

    .principalWrapper{
        margin-top: 3rem;
        width: 85%;
        @include orderFlex(row, space-between, center)
    }

    ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    li{
        h3{
            color: whitesmoke;
            margin-bottom: 1rem;
        }
        div{
            width: 200px;
            height: 230px;
        }
    }
}
