@import './variables/main';

@include resetStyles;

body{
    background-image: url(../logos/fondobody2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    justify-content: center;

    .principalWrapper{
        @include orderFlex(row, space-between, center);
    }
    div{
        width: 70%;
    }
    .tipografia{
        @include imageSize(18rem,auto)
    }

    nav{
        width: 60%;
        ul{
            @include orderFlex(row, space-between, center)
        }

        li{
            text-transform: uppercase;

            a{
                color: whitesmoke;
                font-weight: 500;
                font-size: 1rem;

                &:hover{
                    font-weight: bolder;
                    text-decoration: underline;
                    text-underline-position: below;
                    box-shadow: 0 3px 5px 0px gray;
                    transform: translateY(-3px) scale(1.05);
                    filter: none;
                }
            }
        }
    }
}

.nosotros{
    display: flex;
    justify-content: center;

    .principalWrapper{
        width: 75%;
    }
    div{
       img{
           @include imageSize(100%,auto);
           border-radius: 5%;
           margin-bottom: 3rem;
       }
    }

    p{
        text-transform: uppercase;
        color: whitesmoke;
        text-align:center;
        font-weight: 200;
        letter-spacing: 1.4px;
        line-height: 2rem;
        padding: 2rem;
        margin-bottom: 3rem;

        @media (max-width: 320px){
            text-align: center;
            font-weight: 100;
            font-size: 10px;
            letter-spacing: 1px;
            line-height: 1rem;
            margin-bottom: 2rem;
        }
    }

}

.merch{
    display: flex;
    justify-content: center;

    .principalWrapper{
        margin-top: 3rem;
        width: 85%;
        @include orderFlex(row, space-between, center);
        margin-bottom: 3rem;
    }

    ul{
        width: 100%;
        display: flex;
        justify-content: space-around;

        @media (max-width: 1200px) {
        @include orderFlex(column, space-between, center)
        }
    }

    li{
        @include orderFlex(column, center, center);

        h3{
            color: whitesmoke;
            margin-bottom: 1rem;
            font-weight: 500;
        }
        div{
            width: 200px;
            height: 230px;
        }
    }

    button{
        background-color: whitesmoke;
        padding: .5rem 2rem;
        font-size: 1.1rem;
        font-weight: 600;
        border-radius: 1rem;
        cursor: pointer;
    }
}

.contacto{
    display: flex;
    justify-content: center;

    .principalWrapper{
        @include orderFlex(column, center, center);
        margin-top: 4rem;
        margin-bottom: 3rem;
    }


    .mb-3{
        color: whitesmoke;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 1rem;
        @include orderFlex(column, center, center);
    }

    .form-label{
        margin-bottom: 2rem;
    }
    .form-control{
        width: 320px;
        height: 24px;
        text-align: center;
    }
    .form-control2{
        width: 380px;
        height: 120px;
    }
    button{
        background-color: whitesmoke;
        padding: .4rem 1.5rem;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 1rem;
        cursor: pointer;
    }

}

.footer{
    display: flex;
    justify-content: center;

    .principalWrapper{
        @include orderFlex(column, center, center);
        width: 70%;
        height: auto;
        margin-bottom: 3rem;

        h2{
            margin-top: 5rem;
            color: whitesmoke;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 400;
            &:hover{
                font-weight: bolder;
                text-decoration: underline;
                text-underline-position: below;
                box-shadow: 0 3px 5px 0px grey;
                filter: none;
            }
        }

        ul{
            @include orderFlex(row, center, center);

            li{
                margin-top: 3rem;
                padding: 1rem;
            }
                a{
                    font-size: 2rem;
                    padding: 5px 10px;
                    background-color: rgb(19, 18, 18);
                    color: whitesmoke;
                    cursor: pointer;
                    box-shadow: 0 3px 5px 0px rgb(43, 42, 42);
                    transition: .2s;
                    border-radius: 15%;
                }
                .facebook{
                    &:hover{
                        background-color: #3b5999;
                    }
                }
                .spoty{
                    &:hover{
                        background-color: green;
                    }
                }
                .youtube{
                    &:hover{
                        background-color: #bd081c;
                    }
                }
                .ig{
                    &:hover{
                        background-color: #e4405f;
                    }
                }
                .gmail{
                    &:hover{
                        background-color: #3b5999;
                    }
                }
        }
    }
}

.dvtop{
    @include orderFlex (row, flex-end, flex-end);
    div{
        width: 150px;
        height: 150px;
        img {
            @include imageSize(100, auto)
        }
    }
}
